{% extends "base.html.twig" %}

{% block title %} {{product.name}} {% endblock %}

{% block body %}
<main>
{{wo_render_breadcrumbs({separator: ' > ', listId: 'breadcrumbs'})}}
    <div class="contain-product">
        <div class="left-div">
            {% if product.images|length > 0 %}            
                <img class="image-product-left-div" src="{{ vich_uploader_asset(product.images.first) }}" alt="{{product.name}}">
            {% else %}
                <img class="default-image-left-div" src="/photos/image-par-défaut2.jpg" alt="photo-alternative">
            {% endif %} 
        </div>

        <div class="right-div">
            <h1> {{product.name}} </h1>
            <p> {{product.description}} </p>
            <p> {{product.price|number_format(2)}} € </p>
        </div>
    </div>
</main>
{% endblock %}